// Place all the styles related to the Adverts controller here.
// They will automatically be included in application1.csss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.block {
  border: 1px solid #eee;
  padding: 15px 5px;
  margin-bottom: 20px;
}

.rotate-icon{
  transform: rotate(0deg);
  transition: transform 0.5s linear;
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
}

.rotate-icon.down{
  transform: rotate(180deg);
  transition: transform 0.5s linear;
}

.brand-name {
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
}

.brand-all, .brand-popular {
  //color: #337ab7;
  color: #0363cd;
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
}

.btn-brand {
  margin-top: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  &:hover {
    overflow: inherit;
  }
}

.med-font {
    font-family: "Gotham Medium", Helvetica, Arial, sans-serif;
}

.color {
  border: 1px solid #ccc;
  width: 36px;
  height: 36px;
  border-radius: 18px;
  margin: 4px;
  cursor: pointer;
}

.color-wrapper {
  display: inline-block;
  margin-right: 8px;
  width: 45px;
  height: 45px;
}

.selected-color {
  zoom: 1.2;
  margin: 0;
}

li.currency {
  text-align: center;
  font-size: 20px;
  padding: 5px 0;
  cursor: pointer;
}
