/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    font-family: "Gotham Regular", Helvetica, Arial, sans-serif;
}

@font-face {
    font-family: "Gotham Regular";
    src: url('GothaProReg.otf') format('opentype');
}

.btn-custom {
    border-radius: 25px;
    /*font-family: "Circular", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-family: "Gotham Regular", Helvetica, Arial, sans-serif;
    font-size: 20px;
    padding: 6px 25px;
    font-weight: 700;
}

.row {
    margin: 0;
}
