@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-select.min";
@import "font-awesome";
@import "dropzone/dropzone";
@import 'select2-bootstrap.css';
@import 'select2';
//@import 'select2_bootstrap_4';
@import "./*";
@import "blue.css";

@font-face {
  font-family: "Gotham Regular";
  src: url('GothaProLig.otf') format('opentype');
}

@font-face {
  font-family: "Gotham Medium";
  src: url('GothaProMed.otf') format('opentype');
}

@font-face {
  font-family: "Helvetica Neue Light";
  src: url('HelveticaNeueCyr-Light.otf') format('opentype');
}

@font-face {
  font-family: "Helvetica Neue Medium";
  src: url('HelveticaNeueCyr-Medium.otf') format('opentype');
}

html, body {padding: 0; margin: 0;}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  min-height: 100vh;
  height: 100vh;
}

.wrapper {
  min-height: calc(100vh - 150px);
}

.footer {
  margin-top: 30px;
  opacity: 0.8;
}

.btn-custom {
  border-radius: 25px;
  /*font-family: "Circular", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  //font-family: "Gotham Regular", Helvetica, Arial, sans-serif;
  font-size: 20px;
  padding: 6px 25px;
  font-weight: 700;
}

.row {
  margin: 0;
}

.navbar a {
  cursor: pointer;
  font-size: 16px;
  display: flex !important;
}

a:hover, a:focus {
  text-decoration: none;
  background-color: transparent;
  color: blue;
}

.field-with-errors {
  border-color: red;
}

.error-msg {
  color: red;
}

.dropzone .dz-preview .dz-success-mark, .dropzone .dz-preview .dz-error-mark {
  top: 45% !important;
}

.dropzone .dz-preview .dz-error-message {
  top: 140px !important;
}

#upload-dropzone {
  position: relative;
  border: 1px dashed #ccc;
}

.currency {
  font-family: Verdana;
  font-size: 16px;
  padding: 5px 12px;
}

.highlighted-li {
  background-color: rgba(2,98,205,.26);
}

.checkbox-desc {
  cursor: pointer;
  font-size: 15px;
  margin-left: 8px;
  vertical-align: middle;
}

.custom-label {
  font-size: 15px;
}

span.hint {
  margin-left: 8px;
  cursor: pointer;
  font-size: 20px;
  &:hover {
    color: #0363cd;
  }
}

.mtop10 {
  margin-top: 10px;
}

.mbottom10 {
  margin-bottom: 10px;
}

.font14 {
  font-size: 14px;
}

.font15 {
  font-size: 14px;
}

.font16 {
  font-size: 16px;
}

.font18 {
  font-size: 18px;
}

.maxw220 {
  max-width: 220px;
}

.link {
  color: #007bff;
  height: 34px;
  padding: 7px 0;
  display: flex;
  font-size: 16px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.rotate-icon{
  transform: rotate(0deg);
  transition: transform 0.2s linear;
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
}

.rotate-icon.up{
  transform: rotate(180deg);
  transition: transform 0.2s linear;
}