// Place all the styles related to the Root controller here.
// They will automatically be included in application1.csss.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin: 0 !important;
}

.root-background {
  margin: 0;
  background-image: url('root_2_cut_vien_90.jpg');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 100%;
  height: 100%;
  width: 100%;
  position: absolute;
}

ul.lang {
  margin-top: 100%;
  list-style: none;
  margin-left: 5%;
}

li.lang {
  margin-bottom: 10%;
}

.sale-background {
  margin: 0;
  background-image: url('sale_vien_80.jpg');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 100%;
  height: 62%;
  width: 100%;
  position: absolute;
  & > .ad-buttons {
    text-align: center;
    margin-top: 6%;
  }
  & > .ad-desc {
    margin-top: 6%;
    text-align: center;
    & .panel {
      background: rgba(255,255,255,0.8);
      font-weight: 700;
      font-size: 2em;
      line-height: 1.4;
    }
  }
}

#type_of_vehicle .block {
  .title {
    font-weight: bold;
    font-size: 14px;
    text-align: center;
  }
}
